__pycache__/
*.egg-info/
.venv/
.DS_Store
dist/
test/logs/*
docs/INTERNAL_STATE.md
docs/YUGAYU_CUR_STATE.md
docs/scratchpad.md
test/logs/*.xml

# But DO NOT ignore the .gitkeep file
!test/logs/.gitkeep